/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



   @media print,
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 1.25dppx),
   (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*FONT FAMILY*/

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.ttf');  
}

@font-face {
    font-family: 'Roboto Slab Light';
    src: url('../fonts/RobotoSlab-Light.ttf');
}

@font-face {
    font-family: 'Big John';
    src: url('../fonts/BIG JOHN.otf');
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   * { 
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    /*border: 1px solid red;*/
}

body {
    background-color: black;
}



/* ==========================================================================
   DESKTOP
   ========================================================================== */
   .logo {
    height: 100px;
    width: 100px;
    margin: 2em 45%;
    background-image: url(../img/1-Mobile-Logo.png);
    background-size: contain;
    background-repeat: no-repeat;

}
.thread-container {
    position: relative;
}
.thread {
    height: 27em;
    width: 50px;
    background-image: url(../img/2-Mobile-Thread.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -11em;
    left: 4.5em;
}
.flowers {
    background-image: url(../img/3-Mobile-Flowers-Left.jpg);
    position: absolute;
    height: 100%;
    width: 88px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
}

.flowers-right {
    background-image: url(../img/4-Mobile-Flowers-Right.jpg);
    position: absolute;
    height: 100%;
    width: 103px;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: -1;
}

.flowers-3 {
    background-image: url(../img/6-Mobile-Flowers-Left.png);
    position: absolute;
    height: 100%;
    width: 42px;
    background-repeat: no-repeat;
    z-index: -1;
}

.flowers-4 {
    background-image: url(../img/7-Mobile-Flowers-Right.png);
    position: absolute;
    height: 100%;
    width: 139px;
    right: 0;
    background-repeat: no-repeat; 
    z-index: -1;
}

.butterfly {
    background-image: url(../img/8-Mobile-Butterfly-Left.png);
    position: absolute;
    background-repeat: no-repeat; 
    width: 41px;
    height: 43px;
    right: 60%;
    z-index: -1;
}

.butterfly-2 {
    background-image: url(../img/9-Mobile-Butterfly-Right.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 61px;
    height: 64px;
    right: 40%;
    z-index: -1;
}
.dandy-man {
    background-image: url(../img/5-Mobile-Dandy-Man.jpg);
    position: absolute;
    height: 100%;
    width: 188px;
    right: 0;
    background-repeat: no-repeat;
    z-index: -1;
}
.mobile-fashion {
    background-image: url(../img/10-Mobile-Fashion.png); 
    position: absolute;
    width: 321px;
    height: 386px;

    background-repeat: no-repeat; 
}
.thread-end {
    background-image: url(../img/13-Mobile-Thread.png); 
    position: relative;
    background-repeat: no-repeat; 
    width: 227px;
    height: 154px;
    top: 1.6em;
    right: -20%;
}

.coral {
    background-image: url(../img/12-Safari-Pattern-All-Sections.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 0 3em 0;
    z-index: -1;
}
.container {
    margin: 0 auto;
    width: 80%;
}

.title {
    font-family: 'Big John';
    color: white;
    text-align: center;
    /*font-size: 4em;*/
    /*position: relative;*/
    float: left;
    /*top: -10em;*/
    z-index: -1;
}

.info {
    font-family: 'Roboto Slab', sans-serif;
    width: 12em;
    color: white;
    /*text-align: center;*/
    margin: 0 auto;
    float: left;
    padding-left: 4.5em;
    padding-top: 1em;
    /*position: relative;*/
    /*top: -23em;*/
    /*top: -26em;
    left: 5em;*/
    clear: both;
}

.info2 {
            font-family: 'Roboto Slab Light';
            width: 70%;
            font-size: 15pt;
            padding-left: 4em;
            position: relative;
            top: 5em;
            padding-bottom: 7em;
        
        }

.outer {
    position: relative;
    height: 48em;
    }

.vid {
    width: 100%;
    height: 300px;
   /* background-color: green;
    float: right;
    margin-right:5em;*/
    position: absolute;
    right: 0;
    top: 34em;
}

.subheader {
    font-family: 'Roboto Slab', sans-serif;
    font-style: bold;
    color: white;
    /*text-align: center;*/
    text-transform: uppercase;

}

.secondary-header {
    font-family: 'Big John';
    text-transform: uppercase;
    color: #da465e;
    /*text-align: center;*/
    font-size: 4em;
    margin-left: -2%;
}

.btn {
    color: #a06e1f;
    border: 5px solid #da465e;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 3em;
    font-size: 1.1em;
    text-align: center;
    width: 100%;
    background-color: transparent;
    z-index: 100;

    /*btn animation*/
    position: relative;
    display: inline-block;
    -webkit-transition: color .5s;
    transition: color .5s;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: #da465e;
  z-index: -1;
  -webkit-transform:scaleX(0);
  -ms-transform:scaleX(0);
  transform:scaleX(0);
  -webkit-transition: -webkit-transform .5s;
  transition:         transform .5s;
}

.btn:hover {
  color: #fff;
}

.btn:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
/* ==========================================================================
   DESKTOP
   ========================================================================== */



/* ==========================================================================
   TABLET
   ========================================================================== */
   @media only screen and (min-width: 30em) and (max-width: 45em){
    /* Style adjustments for viewports that meet the condition */
    .title {
        font-size: 45pt;
        letter-spacing: 2px;
        padding-left: 12%;
    }
    .thread {
        height: 27em;
        left: 9.5em;
    }
    .photo {
        width: 50%;
    }
    /* WHAT A MESS*/

        #brown {
            background-color: #a26e1f;
            padding: 2em 0;
        }

        .bold {
            font-weight: bold;
        }
        .contained {
            /*width: 90%;*/
            /*float: right;*/
            /*margin-left: 4em;*/
            /*padding-bottom: 1em;*/
            padding-left: 3em;
        }
        .learn {
            font-size: 14pt;
            padding-bottom: 1em;
            border-bottom: 3px solid white;
        }
        .price {
            font-family: 'Big John';
            font-size:16pt;
        }

     #transparent {
            background-color: transparent;
            height: 386px;
        }
        .photo {
            height: auto;
            width: 70%;
            position: relative;
            top: 2em;
            /*top: -150px;*/
        }
        .banner:last-of-type {
            margin-bottom: 1em;
        }
        .carousel-image {
            width: 100%;
            height: 200px;
        }
        .carousel-description {
            color: #a26e1f;
            font-family: 'Roboto Slab Light';
        }
        .featured {
            color: #da465e;
            text-align: center;
            background-color:black;
            padding-bottom: 1em;
        }
        .sidewalk-safari {
            background-color: white;
            width: 100%;
            padding-top: 6em;
        }
        .title {
            font-size: 45pt;
            text-align: left;
            letter-spacing: 2px;
            width: 275px;
            margin: 0 auto;
            line-height: 1em;
        }

        .title-2 {
            font-size: 48pt;
            text-align: left;
            letter-spacing: 3px;
            line-height: 0em;
            font-family: 'Big John';
        }

        .title-3 {
            font-size: 35pt;
            /*padding-top:3em;*/
            text-align: left;
            letter-spacing: 3px;
            line-height: 0em;
            font-family: 'Big John';
        }

        .info {
            font-size: 1em;
            text-align: left;
            margin: 0;
            padding-left: 9.5em;
            padding-top: 2em;
            padding-bottom: 2em;
        }
        .info2 {
            font-family: 'Roboto Slab Light';
            width: 70%;
            font-size: 15pt;
            padding-left: 4em;
            position: relative;
            top: 5em;
            padding-bottom: 7em;
        
        }
        .vid {
            margin-bottom: 1.5em;
            width: auto;
            height: 250px;
            top: 28em;
        }
        .secondary-header {
            text-align: left;
            font-size: 80pt;
            /*margin-left: .5em;*/
            line-height: 1em;
            position: absolute;

        }

        .subheader {
            width: 50%;
            font-weight: bolder;
            margin-bottom: 1.5em;
        }
        .inner-container {
            padding-left: 10%;
        }

        #container-2 {  
            text-align: left;
        }

        .headline {
            font-size: 16.5pt;
            font-weight: bold;
            line-height: 0;
            margin-bottom: 1.5em;
        }
        .title-3.headline {
            font-size: 15pt;
            line-height: 1em;
        }
        .banner {
            /*height: 20em;*/
            width: 100%;
            /*float: left;*/
            /*display: inline-block;*/
            /*margin-bottom: -5px;*/
        }

        #pink {
            background-color: #da465e;
            height: 11em;
        }

        .card {
            background-color: white;
            width: 100%;

        }
        .header-3 {
            font-family: 'Big John';
            text-transform: uppercase;
            color: #da465e;
            font-size: 40pt;
        }
        .subheader-2 {
            color: #a06e1f;        
            font-size: 1.1em;       
            font-family: 'Roboto Slab', sans-serif;
            font-size: 20pt;
            padding-top: 0;
            margin-top: 0;
        }
        .link {
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Big John';
            font-size: 30pt;
        }

        .pink {
            color: #da465e;
            font-family: 'Big John';
            display: block;
            font-size: 30pt;
        }
}
/* ==========================================================================
                                    MOBILE






   ========================================================================== */
   @media only screen and (max-width: 30em)  {
    /* Style adjustments for viewports that meet the condition */
    /*body {
        background-color: black;
        }*/

        .title {
            font-size: 35pt;
            text-align: left;
            letter-spacing: 3px;
            width: 275px;
            margin: 0 auto;
            /*float: none;*/
        }
        .title-2 {
            font-size: 48pt;
            text-align: left;
            letter-spacing: 3px;
            line-height: 0em;
            font-family: 'Big John';
        }

        .title-3 {
            font-size: 35pt;
            /*padding-top:3em;*/
            text-align: left;
            letter-spacing: 3px;
            line-height: 0em;
            font-family: 'Big John';
        }

        .info {
            font-size: 1em;
            text-align: left;
            margin: 0;
            padding-bottom: 2em;
            padding-left: 4.5em;
        }
        .info2 {
            width: 70%;
            font-size: 15pt;
        }
        .outer {
             height: 42em;
             /*position: inherit;*/
        }
        .vid {
            margin-bottom: 1.5em;
            width: 100%;
            position: initial;

        }
        .secondary-header {
            text-align: left;
            font-size: 40pt;
            /*margin-left: .5em;*/
            line-height: 1em;
        }

        .subheader {
            width: 50%;
            font-weight: bolder;
            margin-bottom: 1.5em;
        }
        .inner-container {
            padding-left: 10%;
        }

        #container-2 {  
            text-align: left;
        }

        .headline {
            font-size: 16.5pt;
            font-weight: bold;
            line-height: 0;
            margin-bottom: 1.5em;
        }
        .title-3.headline {
            font-size: 15pt;
            line-height: 1em;
        }
        .banner {
            /*height: 20em;*/
            width: 100%;
            /*float: left;*/
            /*display: inline-block;*/
            /*margin-bottom: -5px;*/
        }

        #pink {
            background-color: #da465e;
            height: 11em;
        }

        .card {
            background-color: white;
            width: 100%;

        }
        .header-3 {
            font-family: 'Big John';
            text-transform: uppercase;
            color: #da465e;
            font-size: 40pt;
        }
        .subheader-2 {
            color: #a06e1f;        
            font-size: 1.1em;       
            font-family: 'Roboto Slab', sans-serif;
            font-size: 20pt;
            padding-top: 0;
            margin-top: 0;
        }
        .link {
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Big John';
            font-size: 30pt;
        }

        .pink {
            color: #da465e;
            font-family: 'Big John';
            display: block;
            font-size: 30pt;
        }
        .coral {
            background-image: url(../img/12-Safari-Pattern-All-Sections.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 4em 0 3em 0;
            z-index: -1;
        }

        #brown {
            background-color: #a26e1f;
            padding: 2em 0;
        }

        .bold {
            font-weight: bold;
        }
        .contained {
            /*width: 90%;*/
            /*float: right;*/
            /*margin-left: 4em;*/
            /*padding-bottom: 1em;*/
            padding-left: 3em;
        }
        .learn {
            font-size: 14pt;
            padding-bottom: 1em;
            border-bottom: 3px solid white;
        }
        .price {
            font-family: 'Big John';
            font-size:16pt;
        }
        .dandy-man {
            background-image: url(../img/5-Mobile-Dandy-Man.jpg);
            position: absolute;
            height: 100%;
            width: 188px;
            right: 0;
            background-repeat: no-repeat;
            z-index: -1;
        }
        .mobile-fashion {
            background-image: url(../img/10-Mobile-Fashion.png); 
            position: absolute;
            width: 321px;
            height: 386px;

            background-repeat: no-repeat; 
        }
        .thread-end {
            background-image: url(../img/13-Mobile-Thread.png); 
            position: relative;
            background-repeat: no-repeat; 
            width: 227px;
            height: 154px;
            top: 1.6em;
            right: -20%;
        }

        #transparent {
            background-color: transparent;
            height: 386px;
        }
        .photo {
            height: auto;
            width: 90%;
            position: relative;
            top: 2em;
            /*top: -150px;*/
        }
        .banner:last-of-type {
            margin-bottom: 1em;
        }
        .carousel-image {
            width: 100%;
            height: 200px;
        }
        .carousel-description {
            color: #a26e1f;
            font-family: 'Roboto Slab Light';
        }
        .featured {
            color: #da465e;
            text-align: center;
            background-color:black;
            padding-bottom: 1em;
        }
        .sidewalk-safari {
            background-color: white;
            width: 100%;
            padding-top: 6em;
        }

        ul .slick-dots {
            background-color: #da465e;
        }
        .last {
            margin-bottom: 4em;
        }


    }



